 <section class="cursor-pointer m-4 w-full h-96 flex flex-col rounded-lg border border-gray-300 items-start pl-4 justify-center gap-2 bg-white relative ">

    <div class="apply absolute top-8 right-12 w-24 rounded-full border hover:bg-purple-50  border-purple-600 h-8">
        <a href="" class="text-purple-600 flex w-full h-full flex-row items-center justify-center font-medium ">
            <span>apply</span>
            <img class="ml-1 h-4 w-4" src="/assets/icons/redirect.svg" alt="redirect">
        </a>
    </div>

    <div class="post-icon mt-6">
        <img class="h-8 w-8" src="/assets/icons/company-default.svg" alt="company-default">
    </div>
    <h3 class="title font-bold text-lg ">Web Developer</h3>
    <div class="company-country text-sm">
        <p>Microsoft,</p>
        <p>United States</p>
    </div>
    <div class="job-type flex justify-center items-center bg-sky-100 rounded-md p-2">
        <img class="h-4 w-4" src="/assets/icons/remote-job.svg" alt="job-type">
        <p class="text-blue-700 font-medium text-sm ml-1">Remote</p>
    </div>
    <div class="salary flex justify-center items-center text-sm">
        <img class="h-4 w-4" src="/assets/icons/dollar-icon.svg" alt="job-type">
        $90 hourly
    </div>
    
    <p class="description text-sm w-11/12 line-clamp-3 h-2/12">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
        voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
        vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
    </p>
</section>