<div class="w-full max-h-full rounded-md border py-4 border-gray-300 overflow-y-scroll bg-white">

    <div class="wrapper w-11/12 max-h-full mx-auto flex flex-col items-start justify-center gap-4">
        <div class="post-icon mt-6">
            <img class="h-8 w-8" src="/assets/icons/company-default.svg" alt="company-default">
        </div>
        <h3 class="title font-bold text-lg ">Web Developer</h3>
        <div class="company-country text-sm">
            <p>Microsoft,</p>
            <p>United States</p>
        </div>
        <div class="job-type flex justify-center items-center bg-sky-100 rounded-md p-2">
            <img class="h-4 w-4" src="/assets/icons/remote-job.svg" alt="job-type">
            <p class="text-blue-700 font-medium text-sm ml-1">Remote</p>
        </div>
        <div class="salary flex justify-center items-center text-sm">
            <img class="h-4 w-4" src="/assets/icons/dollar-icon.svg" alt="job-type">
            $90 hourly
        </div>
        
        <p class="description text-sm w-11/12  h-2/12">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem omnis aspernatur
            voluptate aliquid doloribus accusamus, sapiente, beatae dolores modi ut
            vitae dolorem consequatur soluta minima praesentium recusandae facilis ab tempora!

        </p>
        
        <a href="" class="w-1/2 h-10 text-white bg-purple-600 rounded-sm my-4 text-center p-2 text-bold" >Apply to Job</a>


    </div>

    
</div>