<app-navbar></app-navbar>
<main class="w-full h-[calc(100vh-3rem)] text-gray-800 flex flex-row items-center overflow-hidden">
    <div class="w-11/12 ml-auto flex flex-row justify-between items-center">
        <div class="left w-7/12 flex flex-col  justify-center items-start">
            <p class="font-bold ">WE HAVE 150,000+ LIVE JOBS</p>
            <h1 class=" w-11/12 font-semibold text-6xl mb-4">Find your dream jobs with <span class="font-bold">My</span><span class="text-[#9333EA] font-bold">RH</span> </h1>
            <p class="text-gray-500 mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet cumque doloremque quam cum expedita minima consequatur eius consectetur.</p>
            <job-search-bar class="w-11/12"></job-search-bar>
        </div>
        <div class="right w-6/12">
            <img src="/assets/icons/main-vector.svg" alt="main-vector">
        </div>
    </div> 
</main>