<app-navbar></app-navbar>

   
<section class="bg-purple-50 w-full h-[calc(100vh-5rem)] flex items-center mt-16">
    <div class="bg-white w-8/12 rounded-md max-h-full border scrollbar-thin scrollbar-thumb-gray-300 scrollbar-track-gray-100 border-gray-200 overflow-y-scroll mx-auto">
        <div class="px-4 mx-auto max-w-3xl h-fit py-10 ">
            <h2 class="mb-4 text-xl font-bold text-gray-900 ">Add a new job offer</h2>
            <form action="#" class="">
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="sm:col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Job title</label>
                        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Type product name" required="">
                    </div>
                    <div class="w-full">
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">Salary <span class="text-xs text-gray-500">(optional)</span> </label>
                        <input type="number" name="price" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="$2999" required="">
                    </div>
                    <div>
                        <label for="salary-type" class="block mb-2 text-sm font-medium text-gray-900 ">Salary type</label>
                        <select id="salary-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                            <option selected >Hour</option>
                            <option >Month</option>
                            <option >Year</option>
                        </select>
                    </div>
                    <div>
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">Job type</label>
                        <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">

                            <option selected >Remote</option>
                            <option >On site</option>
                            <option >Hybrid</option>
                        </select>
                    </div>
                    <div>
                        <label for="country" class="block mb-2 text-sm font-medium text-gray-900 ">Country</label>
                        <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">

                            <option selected>Remote</option>
                            <option >On site</option>
                            <option >Hybrid</option>
                        </select>
                    </div>
                    <div class="sm:col-span-2 ">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Description</label>
                        <text-editor></text-editor>
                    </div>
                </div>
                <button type="submit" class="mt-auto px-5 py-2.5 my-4 sm:mt-6 text-sm font-medium text-center text-black bg-white border border-gray-400 rounded-lg focus:ring-4 focus:ring-primary-200">
                    Add Offer
                </button>
            </form>
        </div>
    </div>
  
</section>